{{ ansible_managed | comment }}

## SSHD config file
## Author : vinishor

Port 22
ListenAddress 0.0.0.0
ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Logging
LogLevel VERBOSE

# Authentication options
ClientAliveCountMax 2
MaxAuthTries 3
MaxSessions 10
MaxStartups 10:30:50
LoginGraceTime 2m
PermitRootLogin no
StrictModes yes

# Enable pubkey authentication
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

# Disable tunneled clear text passwords
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitEmptyPasswords no

GatewayPorts yes
X11Forwarding no
PermitTunnel no
PermitUserEnvironment no
AllowAgentForwarding no
AllowTcpForwarding no
Compression no

# SSH banner + MOTD
Banner /etc/ssh/banner
PrintMotd yes
PrintLastLog yes

# Override default of no subsystems
Subsystem sftp /usr/libexec/sftp-server